.container {
    width: 78%;
    max-width: 90%;
    margin-top: 100px; 
    height: auto; 
    border: none;
    border-radius: 10px;
    background-color: #0f0f0f;
  }

  .about {
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .heading {
    display: flex;
    align-items: center;
  }
  
  .line {
    flex-grow: 0.35;
    height: 2px;
    background-color: #ffc107; 
    margin-left: 10px; 
    margin-top: 10px;
  }

  .image {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .textCol {
    font-size: 1rem;
    line-height: 1.8;
  }
  
  .imageCol {
    text-align: center;
  }

  .lineSkill {
    flex-grow: 0.1;
    height: 2px;
    background-color: #ffc107;
    margin-right: 10px;
    margin-left: 11.5rem;
  }
  
  .tabButton {
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid #ffc107;
    color: #ffc107;
    margin-left: 11.5rem;
  }

  .tabButtonTool {
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid #ffc107;
    color: #ffc107;
    margin-left: 1rem;
  }
  
  .tabButton:hover,
  .tabButton:focus {
    background-color: #ffc107;
    color: black;
  }

  .tabButtonTool:hover,
  .tabButtonTool:focus {
    background-color: #ffc107;
    color: black;
  }
  
  .skillsContainer {
    width: 78%;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
  }
  
  .skillCard {
    background-color: #000;
    border: 1px solid #ffc107;
    border-radius: 5px;
    padding: 30px 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin: 1rem;
  }

  

  
  
  @media (max-width: 768px) {
    .image {
        width: 200px;
        height: 200px;
      }
    
      .textCol {
        text-align: center;
      }
    
      .heading {
        flex-direction: column;
        text-align: center;
      }
    
      .line {
        display: none;
      }

      .lineSkill {
        display: none;
      }

      .tabButton {
        margin-left: 0;
        margin-top: 1rem;
      }
      .tabButtonTool {
        margin-left: 15px;
        margin-top: 1rem;
      }

      .skillsContainer {
        width: 100%;
        padding: 10px;
      }
      .skillCard {
        margin: 0.5rem 0;
      }
  }